@{
    ViewBag.Title = "Carolina Campioni de Oliveira";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Sou analista Desenvolvedora de Sistemas com 9 anos de experiência. </p>
<p>
    Tenho vivência nas áreas de desenvolvimento, manutenção, integração, implementação e sustentação de sistemas, desde identificar as necessidades do usuário, elaborar especificações, intermediar contato da área usuária com o departamento de TI e também com fornecedores.
</p>
<p>
    Boa parte da minha experiência foi adquirida em projeto de AMS, onde prestava suporte para sistemas legados de diferentes tecnologias e diferentes áreas usuárias, principalmente .Net, e também pequenas melhorias e desenvolvimentos. 
    Participei também de projetos de desenvolvimento e melhorias em portais Web.
</p>
<p>
    Atuei principalmente nos segmentos de Utilities (Energia Elétrica e Gás).
    Tecnologias: Plataforma .NET C#, ASP.NET, SQL Server, Oracle, JavaScript, AJAX, Golang, HTML5.
</p>
